<div class="containerX">
  
    <div fxLayout="row wrap" class="colored box nopad">
      <div fxFlex="grow">
        <app-top-navigation></app-top-navigation>
      </div>
    </div>
  
  
    <div class="main-carousal-row">
      <div class="main-carousal-col-1"></div>
      <div class="main-carousal-col-2">
        <app-main-carousal></app-main-carousal>
      </div>
      <div class="main-carousal-col-3"></div>
    </div>
  
    <div class="sub-content-row">
      <div class="sub-content-col-1"></div>
      <div class="sub-content-col-2">
        <div fxLayout="row wrap" class="colored nopad">
          <div fxFlex="grow" style="background: #fff">
            <h2 style=" text-align: left;background: #fff;color: rgb(29,64,134);"> Most Popular Tours</h2>
          </div>
        </div>
  
        <div class="tour-detail-row">
          <div>
            <app-sub-carousel></app-sub-carousel>
          </div>
          <div class="sub-div1">
            <div style="display:flex;align-items:stretch">
              <div style="height: 100%;background-color: yellow;">
                  <div class="text yellow">
                      <h4 _ngcontent-c0="" style="margin-top: 0;margin-bottom: 0;">Transfers</h4>
                      <p style="background-color: floralwhite;">“Let us take you there, where you can leave your footprints”</p>
                      <a style="
                      background-color: antiquewhite;
                  " href="https://www.ceylontours.com/transport/" class="btn btn-yellow pull-right">Read more</a>
                      <span class="t_t_arrow"></span>
                  </div>
              </div>
              <div style="height: 100%;background-color: green;"><img style="width: 100%;height: 100%;" src="../../download.png" ></div>
            </div>
            <div style="display:flex;align-items:stretch">
                <div style="height: 100%;background-color: yellow;">
                    <div class="text yellow">
                        <h4 _ngcontent-c0="" style="margin-top: 0;margin-bottom: 0;">FAQ</h4>
                        <p style="background-color: floralwhite;">“Let us take you there, where you can leave your footprints”</p>
                        <a style="
                        background-color: antiquewhite;
                    " href="https://www.ceylontours.com/transport/" class="btn btn-yellow pull-right">Read more</a>
                        <span class="t_t_arrow"></span>
                    </div>
                </div>
                <div style="height: 100%;background-color: green;"><img style="width: 100%;height: 100%;" src="../../download.png" ></div>
              </div>
          </div>
          <div class="sub-div2">
              <div style="display:flex;align-items:stretch">
                  <div style="height: 100%;background-color: yellow;">
                      <div class="text yellow">
                          <h4 _ngcontent-c0="" style="margin-top: 0;margin-bottom: 0;">ACCOMMODATION</h4>
                          <p style="background-color: floralwhite;">“Let us take you there, where you can leave your footprints”</p>
                          <a style="
                          background-color: antiquewhite;
                      " href="https://www.ceylontours.com/transport/" class="btn btn-yellow pull-right">Read more</a>
                          <span class="t_t_arrow"></span>
                      </div>
                  </div>
                  <div style="height: 100%;background-color: green;"><img style="width: 100%;height: 100%;" src="../../download.png" ></div>
                </div>
                <div style="display:flex;align-items:stretch">
                    <div style="height: 100%;background-color: yellow;">
                        <div class="text yellow">
                            <h4 _ngcontent-c0="" style="margin-top: 0;margin-bottom: 0;">TESTIMONIALS</h4>
                            <p style="background-color: floralwhite;">“Let us take you there, where you can leave your footprints”</p>
                            <a style="
                            background-color: antiquewhite;
                        " href="https://www.ceylontours.com/transport/" class="btn btn-yellow pull-right">Read more</a>
                            <span class="t_t_arrow"></span>
                        </div>
                    </div>
                    <div style="height: 100%;background-color: green;"><img style="width: 100%;height: 100%;" src="../../download.png" ></div>
                  </div>
          </div>
        </div>
  
  
  
  
      </div>
      <div class="sub-content-col-3"></div>
    </div>
  
  
  
  
  
  
  
  
  
  </div>
  