<div class="header">
    <h1 class="logo"><a href="#">Ceylon Tours</a></h1>
    <ul class="main-nav">
        <li><a href="https://www.ceylontours.com/services/" class="blue-border">Services</a></li>
        <li><a href="https://www.ceylontours.com/tours/" class="purple-border">Tours In Sri Lanka</a></li>
        <li><a href="https://www.ceylontours.com/accommodation/" class="orange-border">Accommodation</a></li>
        <li><a href="https://www.ceylontours.com/destinations/1/" class="purple-border">Destinations</a></li>
        <li><a href="https://www.ceylontours.com/travels/" class="red-border">World Wide Travel</a></li>
        <li><a href="https://www.ceylontours.com/experiences/1/" class="gray-border">Experiences</a></li>
        <li><a href="https://www.ceylontours.com/transport/" class="green-border">Transfers</a></li>

    </ul>
</div>