
<main>
<div class="topNavigation">
  <ul >
      <li><a href="./">Home</a></li>
      <li><a href="./about">About us</a></li>
      <li><a href="https://www.ceylontours.com/news-events/">News &amp; Events</a></li>
      <li><a href="https://www.ceylontours.com/testimonials/">Testimonials</a></li>
      <li><a href="https://www.ceylontours.com/faq/">Faq</a></li>
      <!-- <li><a href="https://www.ceylontours.com/sri-lanka/">Sri lanka </a></li> -->
      <!-- <li><a href="https://www.ceylontours.com/maldives/">Maldives</a></li> -->
      <li><a href="https://www.ceylontours.com/contact-us">Contact Us</a></li>
      
  </ul>
</div>


<div fxLayout="row wrap" class="colored box nopad">
    <div fxFlex="grow">
      <app-top-navigation></app-top-navigation>
    </div>
  </div>
<router-outlet></router-outlet>
</main>
<footer><span>copy rights@2017</span></footer>