.sub-main-carousal-row{
    display: flex;
}

.sub-main-carousal-col-1{
    width: 5%;
}

.sub-main-carousal-col-2{
    width: 90%;
}

.sub-main-carousal-col-3{
    width: 5%;
}

.sub-main-headding{
    background: #9b59b6!important;
    font-weight: 900;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 25px;
    padding: 11px 20px;
    color: #FFFFFF;
    /* width: 50%; */
    /* margin-left: -15px; */
    border-bottom: 7px transparent solid;
    color: #FFF!important;
    font-weight: 900;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    background: #9b59b6!important;
    margin-top: 20px;
    border-color: #7E5390;
}

.panel-default>.panel-heading{
    background-color: cornsilk;
}